body{
    background: rgb(148, 113, 148);
}

p {
    font-size: 20px;
    text-shadow: 2px 2px 2px solid;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}   

section{
    background: white;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    padding: 10px;
    margin: auto;
    box-shadow: 2px 2px 5px black;

}

.btn{
    width: 100px;
    height: 50px;
    background-color: rgb(23, 158, 113);
}

:hover .btn {
    background-color: rgb(17, 240, 165);
    cursor: pointer;
}
#res{
    font-size: 40px;
}
footer{
    text-align: center;
    padding: 10px;
}